* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Shared Style */
.flex {
  display: flex;
}
.bold {
  font-weight: bold;
}
.font-dark-1 {
  color: #252432;
}
.font-dark-2 {
  color: #000000;
}
.font-gray-1 {
  color: #8987a1;
}
.font-gray-2 {
  color: rgba(0, 0, 0, 0.5);
}
.cart-btn {
  background-color: #e95a08;
  width: 250px;
  height: 50px;
  color: #ffffff;
  font-weight: 600;
  margin-top: 15px;
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
}
.grid {
  display: grid;
}
/* Header Style */
header {
  max-width: 1100px;
  margin: 30px auto;
}
.nav {
  align-items: center;
  justify-content: space-between;
}
.nav-logo img {
  max-width: 130px;
  max-height: 80px;
}
.nav-items ul li {
  list-style: none;
}
.nav-items ul li a {
  text-decoration: none;
  margin-left: 40px;
}
/* Header Banner */
.banner {
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.banner-text {
  max-width: 550px;
  max-height: 300px;
  align-self: self-end;
}
.banner-text h1 {
  font-size: 4rem;
  margin-bottom: 15px;
}

.fresh-flowers,
.our {
  color: #e95a08;
}
.banner-img img {
  max-width: 550px;
  max-height: 350px;
}
/* Plant section style */
.plant-section {
  max-width: 1100px;
  margin: 70px auto;
  text-align: center;
}
.plant-heading {
  max-width: 800px;
}
.plant-heading h1 {
  font-size: 3rem;
}
.plant-heading p {
  font-size: 1.25rem;
}
.plant-card {
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card {
  margin-top: 45px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.card h3 {
  color: #111111;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.card img {
  margin-bottom: 15px;
  margin-top: 15px;
  max-width: 250px;
}

/* Responsive for Small Device */
@media screen and (max-width: 576px) {
    body{
        margin: 0px 20px;
    }
  header,
  .plant-section,
  .plant-heading {
    max-width: 100vw;
    margin: 20px auto;
  }
  .nav {
    justify-content: space-around;
  }

  .nav-logo img {
    max-width: 80px;
    max-height: 60px;
  }
  .link {
    display: none;
  }
  .banner {
    flex-direction: column-reverse;
    margin-top: 20px;
  }
  .banner-text {
    max-width: 100%;
    margin-left: 10px;
    align-self: self-start;
  }
  .banner-text h1 {
    font-size: 3rem;
    margin-bottom: 5px;
  }

  .fresh-flowers {
    color: #e95a08;
  }
  .banner-img img {
    max-width: 100%;
  }
  /* responsiveness for plant section */

  .plant-card {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .card {
    margin-top: 25px;
   
  }

  .card img {
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 200px;
  }
  .cart-btn {
  background-color: #e95a08;
  width: 150px;
  height: 30px;
  color: #ffffff;

}
}
