* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Shared Style */
.flex {
  display: flex;
}
.bold {
  font-weight: bold;
}
.font-dark-1 {
  color: #252432;
}
.font-dark-2 {
  color: #000000;
}
.font-gray-1 {
  color: #8987a1;
}
.font-gray-2 {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.25rem;
}
.cart-btn {
  background-color: #e95a08;
  width: 250px;
  height: 50px;
  color: #ffffff;
  font-weight: 600;
  margin-top: 15px;
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
}
.grid {
  display: grid;
}
.font-3rem-bold{
  font-size: 3rem;
  font-weight: bold;
}
/* Header Style */
header {
  max-width: 1100px;
  margin: 30px auto;
}
.nav {
  align-items: center;
  justify-content: space-between;
}
.nav-logo img {
  max-width: 130px;
  max-height: 80px;
}
.nav-items ul li {
  list-style: none;
}
.nav-items ul li a {
  text-decoration: none;
  margin-left: 40px;
}
/* Header Banner */
.banner {
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.banner-text {
  max-width: 550px;
  max-height: 300px;
  align-self: self-end;
}
.banner-text h1 {
  font-size: 4rem;
  margin-bottom: 15px;
}

.fresh-flowers,
.our {
  color: #e95a08;
}
.banner-img img {
  max-width: 550px;
  max-height: 350px;
}
/* Plant section style */
.plant-section {
  max-width: 1100px;
  margin: 70px auto;
  text-align: center;
}
.plant-heading {
  max-width: 800px;
  margin: 0 auto;
}



.plant-heading p {
  font-size: 1.25rem;
}
.plant-card {
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card {
  margin-top: 45px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.card h3 {
  color: #111111;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.card img {
  margin-bottom: 15px;
  margin-top: 15px;
  max-width: 250px;
}
/* Plant Lover Section */
.plant-lover-section{
  max-width: 1100px;
  margin: 0px auto;
  margin-top: 160px;
}
  .plant-lover{
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
  }
  .plant-lover-img img{
    max-height: 500px;
    max-width: 500px;
  }
  .plant-lover-info{
      max-height: 500px;
    max-width: 500px;
  }
  .plant-lover-info h1{
    margin-bottom: 20px;
  }
  .plant-lover-info ul li{
    margin-bottom: 20px;
    margin-left: 30px;
  }
 .trusted-seller img{
  max-width:  200px;
  max-height: 200px;
  position: absolute;
      top: 1820px;
    left: 430px;
    animation: trusted-seller 4s linear 0s infinite normal ;
} 
@keyframes trusted-seller {
  from{
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 /* Latest deal section */
 .latest-deal-section{
  max-width: 1100px;
  margin: 100px auto;
 }
  .latest-deal-heading{
    text-align: center;
    margin: 100px 0px;
  }
.latest-deal-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 200px);
  width: 100%;
  gap: 25px;
  text-align: center;
}

.latest-deal-card h1 {
  margin-top: 50px;
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
}



/* background images */
.deal-card-bloom {
  background-image: url(Images/deal-bloom.png);
}

.deal-card-zabo {
  background-image: url(Images/deal-zabo.png);
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

.deal-card-ana {
  background-image: url(Images/deal-ana.png);
}
.deal-card-bloom, .deal-card-zabo, .deal-card-ana {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  color: #ffffff;
  overflow: hidden;
  
}
 .deal-card-zabo{
  padding-top: 150px;
 }
.deal-card-bloom, .deal-card-ana{
  padding-top: 30px;
}
/* decreasing opacity*/
.deal-card-bloom::before,
.deal-card-zabo::before,
.deal-card-ana::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
  z-index: 0;
  border-radius: 10px;
}

.deal-card-bloom *,
.deal-card-zabo *,
.deal-card-ana * {
  position: relative;
  z-index: 1;
}
.latest-deal-card a{
  color: #ffffff;
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
  border-bottom: 3px solid white;
}
.latest-deal-heading p{
  max-width: 800px;
  margin: 10px auto;
}
.latest{
  color:#e95a08;
}
/* Join Section style */

.join-section-info{
  background-image: url(Images/news-letter-bg.png);
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
}
.join-section-info h1{
  padding-top: 170px;
  margin-bottom: 20px;
}
.join-section-info input{
  width: 550px;
  height: 40px;
  outline: none;
  border: none;
  padding-left: 10px;
  

}
.join-section-info button{
background-color:#e95a08;
height: 40px;
width: 150px;
border: none;
}
.input-and-btn {
  gap: 0;
  align-items: center;
  justify-content: center;
}
/* Style for footer section */
footer{
padding-top: 50px;
padding-bottom: 50px;
}
.footer-features{
  justify-content: space-evenly;
  
}
.footer-logo{
  max-width: 300px;
  font-size: 1.25rem;
}
.footer-logo img{
  max-width: 130px;
  max-height: 80px;
}
.footer-social-icon{
 gap: 20px;
 height: 35px;
 align-items: center;


}
.fb-icon, .linkedin-icon, .x-icon, .youtube-icon{
  text-align: center;
}
.footer-items ul li , .footer-items-2 ul li {
  list-style: none;
  padding-bottom:30px ;
}
.footer-items ul li a , .footer-items-2 ul li a {
  text-decoration: none;
  color: #6B7280;
}
/* Responsive for Small Device */
@media screen and (max-width: 576px) {
  header,
  .plant-section,
  .plant-heading ,
  .plant-lover-section
  ,.latest-deal-section{
    max-width: 100%;
    margin: 20px auto;
    padding: 0px 20px;
  }
  .nav {
    justify-content: space-around;
  }

  .nav-logo img {
    max-width: 80px;
    max-height: 60px;
  }
  .link {
    display: none;
  }
  .banner {
    flex-direction: column-reverse;
    margin-top: 20px;
  }
  .banner-text {
    max-width: 100%;
    margin-left: 10px;
    align-self: self-start;
  }
  .banner-text h1 {
    font-size: 3rem;
    margin-bottom: 5px;
  }

  .fresh-flowers {
    color: #e95a08;
  }
  .banner-img img {
    max-width: 100%;
  }
  
  /* responsiveness for plant section */

  .plant-card {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .card {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 25px;
}


  .card img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

  .cart-btn {
  background-color: #e95a08;
  width: 150px;
  height: 30px;
  color: #ffffff;

}
/* Plant lover section responsive */

  .plant-lover{
    flex-direction: column;
    gap: 20px;
  }
  .plant-lover-img img{
    max-height: 400px;
    max-width: 400px;
  }
  .plant-lover-info{
      max-height: 100%;
    max-width: 400px;
  }
  
 .trusted-seller img{
 display: none;

 }
 /* Latest card responsiveness */
 

  .latest-deal-heading{
   
    margin: 30px 0px;
  }
.latest-deal-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 200px);
  width: 100%;
  gap: 15px;
  text-align: center;
}

.latest-deal-card h1 {
  margin-top: 20px;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: bold;
}



/* background images */
.deal-card-bloom {
  background-image: url(Images/deal-bloom.png);
  grid-column: 1/2;
  grid-row: 1/2;
}

.deal-card-zabo {
  background-image: url(Images/deal-zabo.png);
  grid-column: 1/2;
  grid-row: 3/4;
}

.deal-card-ana {
  background-image: url(Images/deal-ana.png);
  grid-column: 1/2;
  grid-row: 2/3;
}
.deal-card-bloom, .deal-card-zabo , .deal-card-ana {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  color: #ffffff;
  overflow: hidden;
  text-align: center;
  padding-top: 25px;
  
}
 .deal-card-zabo{
  padding-top: 25px;
 }
.deal-card-bloom, .deal-card-ana{
  padding-top: 30px;
}
/* decreasing opacity*/
.deal-card-bloom::before,
.deal-card-zabo::before,
.deal-card-ana::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
  z-index: 0;
  border-radius: 10px;
}

.deal-card-bloom *,
.deal-card-zabo *,
.deal-card-ana * {
  position: relative;
  z-index: 1;
}
.latest-deal-card a{
  color: #ffffff;
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
  border-bottom: 3px solid white;
}
.latest-deal-heading p{
  max-width: 300px;
  margin: 10px auto;
}
.latest{
  color:#e95a08;
}
/* JoinSection */
.join-section{
  width: 100vw;
   overflow: hidden;
}
.join-section-info{
  background-image: url(Images/news-letter-bg.png);
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
}
.join-section-info h1{
  padding-top: 100px;
  margin-bottom: 20px;
  font-size: 2rem;
}
.join-section-info input{
  width: 50vw;
  height: 25px;
  outline: none;
  border: none;
  padding-left: 10px;
  

}
.join-section-info button{

height: 25px;
width: 90px;

}
/* Footer Section Responsive */
footer{
  padding-left: 20px;
  padding-right: 20px;
}
.footer-features{
  flex-direction: column;
  
}




}

